@import url(/assets/css/normalize.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1146px;
    margin: 0 auto;
}
.text{
    color: #0A143A;
    font-family: 'RobotoRegular';
    line-height: 140%;
    font-size: 14px;
    text-align: left;
}